@charset "UTF-8";
/* Importando fuente IBM Plex de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Asignando variables */
/* Normalización */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

body {
  color: #060a24;
}

html {
  scroll-behavior: smooth;
}

/* Fin de la normalización */
.text-blue {
  color: #0000ec;
}

.text-white {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.mainTitle {
  font-size: 2.25rem;
  line-height: 42px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
}

.parrafo {
  font-size: 14px;
  line-height: 22px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .parrafo {
  margin: 16px 0 36px 0;
}

.boton-deg {
  background: #00f3bb;
  border: none;
  padding: 13px 0;
  max-width: 345px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 500;
  color: #060a24;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.boton-deg:hover {
  background: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
}

.episodios {
  background: linear-gradient(35deg, #0000a3 0%, blue 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 94%, 0 97%);
          clip-path: polygon(0 3%, 100% 0, 100% 94%, 0 97%);
  padding-top: 50px;
  padding-bottom: 100px;
}

.episodios__content {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 11px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.episodios__episodio {
  max-width: 584px;
  width: 100%;
}

.episodios .mainTitle {
  margin-bottom: 21px;
}

.nosotros {
  margin-top: -150px;
  padding-bottom: 54px;
  position: relative;
  z-index: 2;
}

.nosotros__imagen {
  width: 100%;
  height: auto;
}

.nosotros__imagen img {
  width: 100%;
  height: auto;
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.nosotros__content .mainTitle {
  margin-top: 27px;
  margin-bottom: 8px;
}

.nosotros__content .parrafo {
  margin-bottom: 15px;
}

.entrevistas .mainTitle {
  margin-bottom: 14px;
}

.entrevistas__grillas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.entrevistas__grillas img {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.topicos .mainTitle {
  margin: 48px 0 24px 0;
}

.topicos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  padding-bottom: 42px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topicos__detail {
  width: 260px;
  margin: 0 auto;
}

.topicos__detail figure {
  margin: 13px auto;
}

.topicos__detail figure img {
  margin: auto;
  display: block;
}

.topicos__detail p {
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.novedadesContainer {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  padding: 100px 0;
}

.novedadesContainer .mainTitle {
  text-align: center;
  margin-bottom: 36px;
}

.novedadesContainer .boton-deg {
  width: 90%;
}

.footer {
  padding: 24px 0 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  padding: 25px 0;
}

.footer .redes a {
  text-decoration: none;
  padding: 0 15px;
}

.footer .redes a i {
  font-size: 16px;
  color: #060a24;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.footer .redes a :hover {
  color: #00f3bb;
}

/* ESTILOS DEL MENU */
.menu {
  height: 45px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 50;
}

.menu .menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 100%;
}

.menuItems {
  position: relative;
}

.menuItems input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.menuItems .bar {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 17px;
  display: block;
}

.menuItems .barra {
  position: relative;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.menuItems .barra,
.menuItems .barra::after,
.menuItems .barra::before {
  content: '';
  height: 3px;
  width: 20px;
  background-color: #060a24;
  pointer-events: none;
}

.menuItems .barra::after,
.menuItems .barra::before {
  position: absolute;
}

.menuItems .barra::after {
  bottom: -6px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.menuItems .barra::before {
  bottom: -12px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.menuItems #bar:checked ~ .items {
  right: 0;
}

.menuItems #bar:checked ~ .bar > .barra {
  background-color: transparent;
}

.menuItems #bar:checked ~ .bar > .barra::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuItems #bar:checked ~ .bar > .barra::before {
  -webkit-transform: translatey(-6px) rotate(-45deg);
          transform: translatey(-6px) rotate(-45deg);
}

.menuItems .items {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 45px;
  right: -100%;
  width: 100%;
  background-color: #0000ec;
  padding: 16px;
  z-index: 20;
  -webkit-transition: right ease-in-out 200ms;
  transition: right ease-in-out 200ms;
}

.menuItems .items .item {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 24px;
  text-decoration: none;
}

.menuItems .items .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .entrevistas__grillas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .menu {
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
  .menu .menuContainer {
    max-width: 1100px;
    margin: 0 auto;
  }
  .menuItems {
    width: 60%;
    margin: auto 0;
  }
  .menuItems .bar {
    display: none;
  }
  .menuItems .items {
    position: static;
    right: 0;
    top: 0;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .menuItems .items .item {
    color: #060a24;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    padding: 10px 0;
    -webkit-transition: all ease-in-out 150ms;
    transition: all ease-in-out 150ms;
  }
  .menuItems .items .item:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .menuItems .items .item:hover {
    text-decoration: line-through;
    color: #00f3bb;
  }
  .entrevistas__grillas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: auto;
  }
  .entrevistas__grillas img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .mainTitle {
    font-size: 3rem;
    line-height: 3.2rem;
    padding-bottom: 20px;
  }
  .parrafo {
    font-size: 1rem;
  }
  .boton-deg {
    font-size: 1.125rem;
  }
  .episodios {
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
            clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
    padding-top: 90px;
  }
  .episodios__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    padding-top: 120px;
  }
  .header .parrafo {
    width: 628px;
  }
  .header .mainTitle {
    font-size: 4rem;
    line-height: 4.2rem;
    padding: 0;
  }
  .header .boton-deg {
    margin-left: 0;
    margin-right: 0;
    max-width: 226px;
  }
  .novedadesContainer {
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    padding: 200px 0 150px 0;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__copyright {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */