/* Importando fuente IBM Plex de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Asignando variables */
$aguamarina: #00f3bb;
$azul: #0000ec;
$azultext: #060a24;
$grad: linear-gradient(
    225deg,
    rgba(0, 0, 254, 1) 0%,
    rgba(0, 240, 184, 1) 100%
);
$bluegrad: linear-gradient(
    35deg,
    rgba(0, 0, 163, 1) 0%,
    rgba(0, 0, 255, 1) 100%
);
$font-ibm: 'IBM Plex Mono', monospace;
$font-ibmSans: 'IBM Plex Sans', sans-serif;
/* Normalización */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-ibm;
}
body {
    color: $azultext;
}
html {
    scroll-behavior: smooth;
}
/* Fin de la normalización */
.text-blue {
    color: $azul;
}
.text-white {
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
}
.mainTitle {
    font-size: 2.25rem;
    line-height: 42px;
    font-weight: 400;
    font-family: $font-ibmSans;
}
.parrafo {
    font-size: 14px;
    line-height: 22px;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    .parrafo {
        margin: 16px 0 36px 0;
    }
}
.boton-deg {
    background: $aguamarina;
    border: none;
    padding: 13px 0;
    max-width: 345px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 500;
    color: $azultext;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.boton-deg:hover {
    background: $grad;
    color: white;
    transition: all ease 200ms;
}
.episodios {
    background: $bluegrad;
    clip-path: polygon(0 3%, 100% 0, 100% 94%, 0 97%);
    padding-top: 50px;
    padding-bottom: 100px;
    &__content {
        width: 95%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 11px;
        column-gap: 70px;
    }
    &__episodio {
        max-width: 584px;
        width: 100%;
    }
    .mainTitle {
        margin-bottom: 21px;
    }
}
.nosotros {
    margin-top: -150px;
    padding-bottom: 54px;
    position: relative;
    z-index: 2;
    &__imagen {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            max-width: 450px;
            margin: 0 auto;
            display: block;
        }
    }
    &__content {
        .mainTitle {
            margin-top: 27px;
            margin-bottom: 8px;
        }
        .parrafo {
            margin-bottom: 15px;
        }
    }
}
.entrevistas {
    .mainTitle {
        margin-bottom: 14px;
    }
    &__grillas {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
        }
    }
}
.topicos {
    .mainTitle {
        margin: 48px 0 24px 0;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 40px;
        padding-bottom: 42px;
        justify-content: space-between;
    }
    &__detail {
        width: 260px;
        margin: 0 auto;
        figure {
            margin: 13px auto;
            img {
                margin: auto;
                display: block;
            }
        }
        p {
            font-size: 24px;
            font-family: $font-ibmSans;
            font-weight: 600;
            text-align: center;
        }
    }
}
.novedadesContainer {
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    padding: 100px 0;
    .mainTitle {
        text-align: center;
        margin-bottom: 36px;
    }
    .boton-deg {
        width: 90%;
    }
}
.footer {
    padding: 24px 0 31px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__copyright {
        padding: 25px 0;
    }
    .redes {
        a {
            text-decoration: none;
            padding: 0 15px;
            i {
                font-size: 16px;
                color: #060a24;
                transition: all ease-in-out 150ms;
            }
            :hover {
                color: $aguamarina;
            }
        }
    }
}
/* ESTILOS DEL MENU */
.menu {
    height: 45px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 50;

    .menuContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }
}

.menuItems {
    position: relative;
    input {
        appearance: none;
        display: none;
    }

    .bar {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 17px;
        display: block;
    }

    .barra {
        position: relative;
        transition: all ease-in-out 200ms;
    }
    .barra,
    .barra::after,
    .barra::before {
        content: '';
        height: 3px;
        width: 20px;
        background-color: #060a24;
        pointer-events: none;
    }
    .barra::after,
    .barra::before {
        position: absolute;
    }
    .barra::after {
        bottom: -6px;
        transition: all ease-in-out 200ms;
    }
    .barra::before {
        bottom: -12px;
        transition: all ease-in-out 200ms;
    }
    #bar:checked ~ .items {
        right: 0;
    }
    #bar:checked ~ .bar > .barra {
        background-color: transparent;
    }
    #bar:checked ~ .bar > .barra::after {
        transform: rotate(45deg);
    }
    #bar:checked ~ .bar > .barra::before {
        transform: translatey(-6px) rotate(-45deg);
    }
    .items {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 45px;
        right: -100%;
        width: 100%;
        background-color: $azul;
        padding: 16px;
        z-index: 20;
        transition: right ease-in-out 200ms;

        .item {
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 24px;
            text-decoration: none;
        }
        .item:last-child {
            margin-bottom: 0;
        }
    }
}
@media (min-width: 700px) {
    .entrevistas__grillas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 700px;
        margin: auto;
    }
}
@media (min-width: 900px) {
    .menu {
        height: 80px;
        width: 100%;
        background-color: #fff;

        .menuContainer {
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .menuItems {
        width: 60%;
        margin: auto 0;
        .bar {
            display: none;
        }
        .items {
            position: static;
            right: 0;
            top: 0;
            background-color: transparent;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100%;

            .item {
                color: $azultext;
                display: block;
                margin-bottom: 0;
                font-weight: 400;
                padding: 10px 0;
                transition: all ease-in-out 150ms;
            }
            .item:active {
                color: rgba(6, 10, 36, 0.56);
                text-decoration: line-through;
            }
            .item:hover {
                text-decoration: line-through;
                color: #00f3bb;
            }
        }
    }
    .entrevistas {
        &__grillas {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            max-width: 100%;
            margin: auto;
            img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    .mainTitle {
        font-size: 3rem;
        line-height: 3.2rem;
        padding-bottom: 20px;
    }
    .parrafo {
        font-size: 1rem;
    }
    .boton-deg {
        font-size: 1.125rem;
    }
    .episodios {
        clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
        padding-top: 90px;
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 70px;
            align-items: center;
            margin: 0 auto;
        }
    }
    .nosotros {
        display: flex;
        align-items: center;
    }
    .header {
        .parrafo {
            width: 628px;
        }
        .mainTitle {
            font-size: 4rem;
            line-height: 4.2rem;
            padding: 0;
        }
        .boton-deg {
            margin-left: 0;
            margin-right: 0;
            max-width: 226px;
        }
    }
    .novedadesContainer {
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
        padding: 200px 0 150px 0;
    }
    .footer {
        flex-direction: row;
        &__copyright {
            padding: 0;
        }
    }
}
